.headerbig-green {
    color: #006600;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.margin-20px-btm {
    margin-bottom: 20px;
}
.f-sign-up__text {
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 17px;
}
.f-sign-up__form {
    padding: 15px 25px;
}

.f-sign-up__error-box {
    display: none;
}

.f-sign-up__error-box {
    color: red;
}
.f-sign-up__error-box {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 34px;
    min-height: 19px;
}
.f-sign-up__error-box p {
    margin: 0 0 0 50px;
}


.summary-error {
    display: none;
}
.change-address-box {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    max-width: 760px;
    min-width: 700px;
}
.change-address-header {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: lightgrey;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.f-sign-up._active {
    background: #fff;
}
.clear-both {
    clear: both;
}
.f-sign-up {
    background: #a2d750;
}
.f-sign-up {
    margin-bottom: 1px;
    padding: 5px 0 7px;
    -webkit-transition: padding .1s ease-out, background .2s ease-out;
    transition: padding .1s ease-out, background .2s ease-out;
}
.f-sign-up._active .f-sign-up__step-title {
    color: #000;
}
.f-sign-up._active .f-sign-up__step-title {
    cursor: auto;
}
.f-sign-up ._pointer, .f-sign-up._first-step .f-sign-up__step-title {
    cursor: pointer;
}
.f-sign-up._active .f-sign-up__step-title {
    cursor: auto;
}
.f-sign-up ._pointer, .f-sign-up._first-step .f-sign-up__step-title {
    cursor: pointer;
}
.left {
    float: left;
}
.f-sign-up__step-title {
    color: #095b00;
}
.f-sign-up__step-title {
    margin-left: 35px;
    cursor: auto;
    padding-left: 38px;
    line-height: 30px;
    position: relative;
    counter-increment: item;
    font-size: 16px;
}
.container *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.left {
    float: left;
}
.f-sign-up__step-title {
    margin-left: 35px;
    cursor: auto;
    padding-left: 38px;
    line-height: 30px;
    position: relative;
    counter-increment: item;
    font-size: 16px;
}
.margin-20px-btm {
    margin-bottom: 20px;
}
.pad {
    padding: 10px;
}
.container *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.margin-20px-btm {
    margin-bottom: 20px;
}

.font-size-14 {
    font-size: 14px;
}
.margin-5px-btm {
    margin-bottom: 5px;
}
.f-sign-up__label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
}
span.asterisk {
    color: red;
}
.f-sign-up__field, .f-sign-up__textarea {
    border: 1px solid #a2d750;
    background: #f6f6f6;
}
.f-sign-up__field, .f-sign-up__textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: 0;
}
.f-sign-up__field {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

.f-sign-up__field, .f-sign-up__textarea {
    border: 1px solid #a2d750;
    background: #f6f6f6;
}
.f-sign-up__field, .f-sign-up__textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: 0;
}
.f-sign-up__field {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
.jq-selectbox.jqselect {
    background: #f6f6f6;
    width: 100%;
}
SELECT {
    font-family: Verdana,Helvetica,Arial;
}
.jq-selectbox__select {
    box-shadow: none;
    background: #f6f6f6;
    border: 1px solid #a2d750;
    border-radius: 5px;
    height: 40px;
    cursor: default;
}
.jq-selectbox__select-text {
    font-size: 12px;
    padding-top: 3px;
}
.jq-selectbox__trigger {
    width: 39px;
}

.jq-selectbox__trigger {
    background: #a2d750;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.jq-selectbox__trigger-arrow {
    border-top: 8px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 16px;
    right: 15px;
}
.jq-selectbox__select {
    box-shadow: none;
    background: #f6f6f6;
    border: 1px solid #a2d750;
    border-radius: 5px;
    height: 40px;
    cursor: default;
}
.jq-selectbox__select {
    height: 32px;
    padding: 0 45px 0 10px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: #F5F5F5;
    background: -webkit-linear-gradient(#FFF, #E6E6E6);
    background: linear-gradient(#FFF, #E6E6E6);
    box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgb(0 0 0 / 10%);
    font: 14px/32px Arial, sans-serif;
    color: #333;
    text-shadow: 1px 1px #fff;
}
.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
}
.f-sign-up__field, .f-sign-up__textarea {
    border: 1px solid #a2d750;
    background: #f6f6f6;
}
.f-sign-up__field, .f-sign-up__textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: 0;
}
.f-sign-up__field {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
/* .f-sign-up__error-msg._required {
    display: none;
}
.f-sign-up__error-msg._aspecial, .f-sign-up__error-msg._required {
    z-index: 1;
}
.f-sign-up__error-msg._aspecial, .f-sign-up__error-msg._required {
    z-index: 1;
}
.f-sign-up__error-msg {
    color: red;
    background-color: #fff;
}
.f-sign-up__error-msg {
    bottom: 12px;
    display: block;
    width: 358px;
}
.b-order-due, .f-sign-up__error-msg {
    left: 546px;
    font-size: 14px;
} */


.jq-selectbox__trigger {
    background: #a2d750;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#showDiv {
    display: block;
}
.auto-all {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}
.margin-20px-btm {
    margin-bottom: 20px;
}
.auto-all {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}
.b-info-tooltip, .b-info-tooltip:before {
    border: 1px solid #acacac;
}
.b-info-tooltip {
    width: 392px;
    right: -411px;
}
.b-info-tooltip, .b-info-tooltip:before {
    border: 1px solid #a2d750;
}
.b-info-tooltip {
    width: 504px;
    display: none;
    border-radius: 5px;
    position: absolute;
    right: -540px;
    background: #fff;
    bottom: 0;
    padding: 12px 15px;
}
.container *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.margin-20px-btm {
    margin-bottom: 20px;
}
.b-info-tooltip {
    width: 504px;
    display: none;
    border-radius: 5px;
    position: absolute;
    right: -540px;
    background: #fff;
    bottom: 0;
    padding: 12px 15px;
}
.b-info-tooltip, .b-info-tooltip:before {
    border: 1px solid #acacac;
}
.b-info-tooltip:before, .b-info-tooltip:after {
    background: #fff;
}
.b-info-tooltip, .b-info-tooltip:before {
    border: 1px solid #a2d750;
}
.b-info-tooltip:before, .b-info-tooltip:after {
    position: absolute;
    content: '';
    display: block;
    background: #fff;
}
.b-info-tooltip:before {
    width: 14px;
    height: 14px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 12px;
    left: -7px;
}
.auto-all {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}
.b-info-tooltip__title, .b-info-tooltip__subtitle, .b-info-tooltip p, .b-info-tooltip__list-title {
    color: #333;
}
.b-info-tooltip__title {
    font-size: 12px;
    font-weight: 700;
}
[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 3px;
}
.close-classic:after {
    content: 'X';
}
.container *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-info-tooltip__title, .b-info-tooltip__subtitle, .b-info-tooltip p, .b-info-tooltip__list-title {
    color: #333;
}

.b-info-tooltip__subtitle {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 8px;
}
.margin-20px-btm {
    margin-bottom: 20px;
}
.b-info-tooltip__title, .b-info-tooltip__subtitle, .b-info-tooltip p, .b-info-tooltip__list-title {
    color: #333;
}

.b-info-tooltip p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}


.b-info-tooltip__list-title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: 700;
}
.b-info-tooltip ol {
    margin-left: 18px;
    margin-bottom: 18px;
    counter-reset: olitem;
    list-style: none;
    padding: 0;
}
.b-info-tooltip ol li {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
    padding-right: 5px;
    padding-left: 23px;
    counter-increment: olitem;
    position: relative;
}
.b-info-tooltip ol li:before {
    position: absolute;
    content: '';
    display: block;
    content: counter(olitem) '.';
    width: 10px;
    left: 0;
    top: 0;
}


.b-info-tooltip p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}
.b-info-tooltip, .b-info-tooltip:before {
    border: 1px solid #acacac;
}
.b-info-tooltip:before, .b-info-tooltip:after {
    background: #fff;
}
.f-sign-up__check-label {
    color: #666;
}
.f-sign-up__check-label {
    padding-left: 30px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    font-style: italic;
    margin-bottom: 0;
}
.f-sign-up__check-label:before {
    background: #ccc;
}
.f-sign-up__check-label:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: -5px;
    height: 21px;
    border-radius: 4px;
    width: 21px;
}
.f-sign-up__msg-box._city-contain.to-the-door-error {
    top: 0;
}

.f-sign-up__msg-box {
    left: 400px;
    top: 29px;
}
.f-sign-up__validation-directive._box .f-sign-up__error-msg {
    left: 146px !important;
}
.f-sign-up__validation-directive._box .f-sign-up__error-msg {
    bottom: auto;
    line-height: 17.5px;
}
.f-sign-up__validation-directive._box .f-sign-up__error-msg {
    bottom: auto;
    line-height: 17.5px;
}
.f-sign-up__error-msg._aspecial, .f-sign-up__error-msg._required {
    z-index: 1;
}
.f-sign-up__error-msg._aspecial, .f-sign-up__error-msg._required {
    z-index: 1;
}
.f-sign-up__error-msg {
    color: red;
    background-color: #fff;
}
.f-sign-up__error-msg {
    bottom: 12px;
    display: block;
    width: 358px;
}
.b-order-due, .f-sign-up__error-msg {
    left: 546px;
    font-size: 14px;
}
.change-address-header {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: lightgrey;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.clear-both {
    clear: both;
}
.f-sign-up {
    background: #a2d750;
}
.f-sign-up {
    margin-bottom: 1px;
    padding: 5px 0 7px;
    -webkit-transition: padding .1s ease-out, background .2s ease-out;
    transition: padding .1s ease-out, background .2s ease-out;
}
.button-box {
    margin: 20px 0;
    max-width: 760px;
    display: block;
    position: relative;
}
.right {
    float: right;
}
.f-sign-up__btn {
    background-color: #060;
}
.f-sign-up__btn, .checkout-btn {
    display: inline-block;
    border-radius: 5px;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    outline: 0;
    margin-bottom: 12px;
    padding: 0 25px;
    min-width: 160px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    color: #fff;
}
.f-sign-up__radio-label:before {
    border: 5px solid #ccc;
    background: #fff;
}
.f-sign-up__radio-label:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    height: 18px;
    border-radius: 50%;
    width: 18px;
    background: #fff;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
.f-sign-up__radio-label {
    color: #666;
}
.f-sign-up__radio-label {
    padding-left: 29px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    display: block;
    margin-right: -12px;
    max-width: none;
    word-spacing: -.15em;
}
.f-sign-up__radio-group-title {
    color: #333;
}
.f-sign-up__radio-group-title {
    line-height: 25px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    position: relative;
}
.f-sign-up__radio-group-title:before {
    border: 5px solid #ccc;
    background: #fff;
}
.f-sign-up__radio-group-title:before {
    position: absolute;
    content: '';
    display: block;
    left: -22px;
    top: 4px;
    height: 18px;
    border-radius: 50%;
    width: 18px;
    background: #fff;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
.f-sign-up__step-title:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    content: counter(item) '';
    -webkit-transition: background .2s ease-out, color .2s ease-out;
    transition: background .2s ease-out, color .2s ease-out;
}
.f-sign-up__step-title.secondTtl:before {content:"2"}
.f-sign-up__step-title:before {
    background: #fff;
    color: #095b00;
}
.f-sign-up._active .f-sign-up__step-title:before {
    color: #fff;
    background: #a2d750;
}
.f-sign-up__step-title {
    margin-left: 5px;
}
.jq-selectbox__select {
    box-shadow: none;
    background: #f6f6f6;
    border: 1px solid #a2d750;
    border-radius: 5px;
    height: 40px;
    cursor: default;
}
.jq-selectbox__select-text {
    font-size: 12px;
    padding-top: 3px;
}
.jq-selectbox__trigger {
    background: #a2d750;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.jq-selectbox__trigger {
    width: 39px;
}
.jq-selectbox__trigger-arrow {
    border-top: 8px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 16px;
    right: 15px;
}
.jq-selectbox__dropdown {
    background: #f6f6f6;
    margin-top: 0;
    border: 1px solid #a2d750;
    border-top: none;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
}
#delivery-area__state-styler .jq-selectbox__dropdown ul {
    max-height: 82px;
}
.jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #231F20;
}
.jq-selectbox__dropdown li {
    position: relative;
    height: 27px;
    padding: 5px 10px 6px 27px;
    font-size: 12px;
}
#delivery-area__state-styler .jq-selectbox__dropdown ul li {
    margin: 0;
}
.jq-selectbox.jqselect {
    background: #f6f6f6;
    width: 100%;
}
.f-sign-up__error-msg {
    bottom: 12px;
    display: block;
    width: 358px;
}
.f-sign-up__error-msg._required {
    display: none;
}
.f-sign-up__error-msg._aspecial, .f-sign-up__error-msg._required {
    z-index: 1;
}
.f-sign-up__error-msg {
    color: red;
    background-color: #fff;
}
.b-order-due, .f-sign-up__error-msg {
    font-size: 14px;
}
.f-sign-up__label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
}

.contFrmColInner.statSlct:after {
    border-top: 8px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 16px;
    right: 15px;
    content: "";
    position: absolute;
}
.half-block {
    width: 48%;
}
.statSlct {display: flex;}
.contFrmColInner.statSlct select, .contFrmColInner.statSlct select {width: 100%; height: 40px !important; border: 1px solid #a2d750;
    background: #f6f6f6; margin-right: 0;
}
.contFrmColInner.statSlct {position: relative;}
.contFrmColInner.statSlct:before {
    background: #a2d750;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    content: "";
    position: absolute;
    height: 38px;
    right: 1px;
    top: 1px;
    width: 38px;
    pointer-events: none;
}

.b-info-tooltip:after {
    width: 10px;
    height: 20px;
    bottom: 10px;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    pointer-events: none;
}
.b-info-tooltip:before, .b-info-tooltip:after {
    background: #fff;
}
.f-sign-up__check-label._error:before {
    border: 2px solid red;
}
.f-sign-up__check:checked + .f-sign-up__check-label:before {
    background: #a2d750 url(../../assets/images/checkout/sprite.png) 3px 3px no-repeat;
    /* ../../commonimages/sprite.png */
}
input.f-sign-up__check {display: none;}
.change-address-box .close-classic:after {
    color: #777;
    font: 14px/100% arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    padding: 3px 8px;
    background-color: #efefef;
    border: 1px solid #999;
    margin-top: 1px;
    display: inline-block;
    border-radius: 3px;
}
.button-box .modal-card {
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    width: 100% !important;
    z-index: 999;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
}
.b-choose-address .b-choose-address__table {display: flex; justify-content: space-between; padding: 0;}
.b-choose-address {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
}
.b-choose-address .b-choose-address__table .col-md-5 {padding: 0 !important;}
.b-choose-address .b-choose-address__table .col-md-5:first-child {margin-right: 100px;}
.b-choose-address__dt ul li, .b-choose-address__dd ul li {margin-bottom: 8px;}
.b-choose-address .b-choose-address__table .col-md-5 .col-md-11 {padding-left: 30px;}
.f-sign-up__form-top {
    padding: 0 25px;
}
.f-sign-up__radio-group {
    padding-left: 60px;
}
.f-sign-up__radio:checked + .f-sign-up__radio-label:before {
    border-color: #a2d750;
    background: #fff;
}
.f-sign-up__delivery-address {font-size: 12px; margin-left: 26px; margin-bottom: 40px;}
.customSc {
    margin-left: 37px;
    font-size: 14px;
}
.store-container input {position: absolute; cursor: pointer; width: 170px; border-radius: 0; background: transparent !important;}
.store-container input:focus {outline: 0 !important; outline-offset: 0 !important; box-shadow: none !important;} 
.store-container label {pointer-events: none;}
.store-container .pickup-stores label {text-decoration: underline;}
.store-container span {margin: 0 0 15px; display: block;}
.f-sign-up__radio:checked + .f-sign-up__radio-label {color: #000;}
.store-container span.f-sign-up__delivery-address,
.f-sign-up__delivery-address.error-label.pick-up-preference__preference, .f-sign-up__delivery-address.error-label.delivery-preference__instructions {font-weight: 700; color: #000; text-transform: uppercase;}
.f-sign-up__delivery-address.error-label.pick-up-preference__preference .f-sign-up__required-msg {font-weight: 400; text-transform: none; font-size: 11px;}
.accorSec .css-o4b71y-MuiAccordionSummary-content p.MuiTypography-root:hover {
    background-color: transparent !important;
}
.accorSec .css-o4b71y-MuiAccordionSummary-content p.MuiTypography-root .f-sign-up__radio-group-title:hover {
    color: #a2d750;
    text-decoration: none;
}
element.style {
    width: 100%;
    position: absolute;
    width: 170px;
}
.MuiCollapse-wrapper .time-container {margin-top: 6px;}
.MuiCollapse-wrapper .time-container input {position: absolute; cursor: pointer; width: 170px; border-radius: 0; background: transparent !important;}
.MuiCollapse-wrapper .time-container label {pointer-events: none;}
.MuiCollapse-wrapper .time-container input:focus {outline: 0 !important; outline-offset: 0 !important; box-shadow: none !important;} 
.f-sign-up__radio:checked + .f-sign-up__radio-label:before {
    border-color: #a2d750;
    background: #fff;
}
.f-sign-up__radio:checked + .f-sign-up__radio-label {
    color: #333;
}
.f-sign-up__radio:checked + .f-sign-up__radio-label {
    font-weight: 700;
    word-spacing: 1px;
}
.ordDue { margin-left: -34px; margin-top: -20px; }
.mapdiv{
    border: 1px solid #000;
    height: 250px;
    max-width: 500px;
    margin-bottom: 42px;
    width: 90%;
    margin-left: 5%;
}
.f-sign-up__validation-directive .f-sign-up__textarea {
    margin: 14px 0 0 24px;
    width: 95%;
}
.f-sign-up__validation-directive {margin-top: 25px;}
.f-sign-up__radio:checked + .f-sign-up__radio-label:before {
    border-color: #a2d750;
    background: #fff;
}
.f-sign-up__radio-label:before {
    border: 5px solid #ccc;
    background: #fff;
}
.f-sign-up._second-step .f-sign-up__step-title:before {content: "2"; }
.actAdrss .f-sign-up__validation-directive { margin-top: 0; }
.success-block-message { padding-left: 100px; }
.top-margin { margin-top: 20px; }
.success-block-button { width: 190px; margin-left: 160px; }

@media (min-width: 992px){
.col-md-offset-1 { margin-left: 8.33333333%; }
.col-md-10 { width: 83.33333333%;}
}
@media (max-width: 992px){
.change-address-box { min-width: 1px; }
}
@media (max-width: 767px){
    .change-address-box {max-width: 100%;}
}
@media (max-width: 639px){
    .success-block-message { padding-left: 0; }
    .success-block-button { margin-left: 26px; }
    .pl-pr-lss {padding-left: 0; padding-right: 0;}
}
@media (max-width: 479px){
    .half-block { width: 100%; }
    .half-block.right {margin-top: 25px;}
    .f-sign-up__form { padding: 15px 0; }
    .f-sign-up__btn, .checkout-btn { padding: 0 15px; min-width: 120px; }
    .f-sign-up__step-title, .f-sign-up__step-title:before {font-size: 14px;}
}
@media (max-width: 399px){
    .f-sign-up__btn, .checkout-btn { padding: 0 15px; min-width: 100px; }
}
