.cbn-cart {
    @apply fixed;
    @apply inset-0;
    @apply overflow-hidden;
    @apply z-40;
  }
  
  .cbn-cart .cbn-cart__close-button {
    @apply bg-white;
    @apply justify-center;
    @apply items-center;
    @apply inline-flex;
    @apply rounded;
    @apply p-2;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-inset;
    @apply focus:ring-green;
    @apply cashwise:focus:ring-merlot;
    @apply marketplace:focus:ring-forest;
  }
  
  .cbn-cart .cbn-cart__item {
    @apply border-t;
    @apply p-3;
  }
  .cbn-cart .cbn-counter {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 0 0 10px;
    align-items: center;
    justify-content: space-around;
    height: 37px;
    max-width: 100px;
  }
  .cbn-cart .cbn-counter .cbn-button {margin-left: 6px !important; width: 108px !important;}
  .cbn-cart .cbn-counter__button--left, .cbn-counter__input {border-right: 1px solid #ccc; margin-left: 0 !important; --tw-space-x-reverse:inherit !important;}
  .cbn-counter__button--right  {border-left: 1px solid #ccc; margin-left: 0 !important; --tw-space-x-reverse:inherit !important;}
  