.cbn-header {
  @apply relative;
  @apply bg-white;

  /* @apply shadow; */

  /* @apply z-10; */
}

.cbn-header .cbn-header__menu-button {
  @apply bg-lime;
  @apply rounded;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply h-10;
  @apply text-gray-500;
  @apply mr-3;
  @apply px-2.5;
  @apply ring-1;
  @apply ring-white;
  @apply ring-inset;
  @apply ring-opacity-50;
  @apply md:h-11;
  @apply md:px-3;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-green;
  @apply cashwise:bg-gray-500;
  @apply cashwise:text-white;
  @apply cashwise:focus:ring-merlot;
  @apply marketplace:bg-forest-100;
  @apply marketplace:text-white;
  @apply marketplace:focus:ring-clementine;
}

.cbn-header .cbn-header__mobile-button {
  @apply bg-white;
  @apply justify-center;
  @apply items-center;
  @apply inline-flex;
  @apply rounded;
  @apply p-2;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-inset;
  @apply focus:ring-green;
  @apply cashwise:focus:ring-merlot;
  @apply marketplace:focus:ring-forest;
}

.cbn-header .cbn-header__nav {
  @apply bg-lime-100;
  @apply flex;
  @apply items-center;
  @apply px-2;
  @apply py-2;
  @apply md:px-4;
  @apply md:py-3;
  @apply lg:px-6;
  @apply cashwise:bg-gray-600;
  @apply marketplace:bg-forest;
}

.cbn-header .cbn-header__nav-link {
  @apply rounded-sm;
  @apply text-sm;
  @apply font-medium;
  @apply text-gray-500;
  @apply md:text-base;
  @apply hover:underline;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-green;
  @apply cashwise:text-white;
  @apply cashwise:focus:ring-merlot;
  @apply marketplace:text-white;
  @apply marketplace:focus:ring-clementine;
}

.cbn-header .cbn-header__cart-button {
  @apply bg-orange;
  @apply rounded-full;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply h-9;
  @apply ml-2;
  @apply px-4;
  @apply ring-2;
  @apply ring-white;
  @apply text-white;
  @apply sm:ml-4;
  @apply lg:ml-6;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-orange-100;
  @apply cashwise:bg-merlot;
  @apply cashwise:focus:ring-merlot-100;
  @apply marketplace:bg-clementine;
  @apply cashwise:focus:ring-clementine-100;
}
.innerHeader .lg\:px-6 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 0 5px!important;
}


